/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/javalesson.iml
/out/production/javalesson/CustomScanner.class
/out/production/javalesson/HelloWorld.class
/out/production/javalesson/InkrementacjaDekrementacja.class
/out/production/javalesson/OperatoryMatematyczne.class
/out/production/javalesson/TypyObiektowe.class
/out/production/javalesson/TypyProsteRef.class
/.idea/uiDesigner.xml
/out/production/javalesson/Zmienne.class
/out/production/javalesson/Homework1.class
